@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--BackgroundColor);
}

:root {
  --primaryColor: #e05717;
  --BackgroundColor: #f8f8f7;
  --darkblueColor: #193389;
  --inputlabelColor: #000000;
  --whiteColor: #ffffff;
  --greencompletedColor: rgba(82, 193, 90, 0.27);
  --yellowarchivedColor: rgba(255, 239, 182, 0.27);
  --attachfileColor: #ebefff;
  --disabledform: #e4e4e4;
  --snackbarSuccessColor: #37b24d;
  --acceptedButtonColor: #52c15a;
  --greenButtonColor: #d0eed2;
  --tableBackgroundColor: #f1f5fa;
  --gridButtonwaiting: #ffefb6;
  --spocemailColor: #4e4e4e;
  --termsconditionsColor: #3061ff;
  --cancelButtonColor: #dd4b39;
  --pinkprioriyColor: rgba(221, 75, 57, 0.38);
  --requiredfieldColor: #dd4b39;
  --activeColor: rgba(82, 193, 90, 0.27);
}

.formInput {
  --darkblueColor: #193389;
  --inputlabelColor: #000000;
  --whiteColor: #ffffff;
  --greencompletedColor: rgba(82, 193, 90, 0.27);
  --yellowarchivedColor: rgba(255, 239, 182, 0.27);
  --attachfileColor: #ebefff;
  --disabledform: #e4e4e4;
  --snackbarSuccessColor: #37b24d;
  --acceptedButtonColor: #52c15a;
  --greenButtonColor: #d0eed2;
  --tableBackgroundColor: #f1f5fa;
  --gridButtonwaiting: #ffefb6;
  --spocemailColor: #4e4e4e;
  --termsconditionsColor: #3061ff;
}
.font-grey-12-bold {
  color: var(--inputlabelColor);
  opacity: 0.7;
  font-size: 12px;
  font-weight: bold;
}
.font-grey-14-bold {
  color: var(--inputlabelColor);
  opacity: 0.7;
  font-size: 14px;
  font-weight: bold;
}
.formInput {
  height: 40px;
  border-radius: 8px;
  background-color: var(--whiteColor);
  border: 1px solid var(--disabledform);
}
.Button {
  background-color: var(--darkblueColor);
  color: white;
  height: 40px;
  border-radius: 8px;
}
.login__maindiv--small {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divider {
  background-image: linear-gradient(to right,
      rgba(204, 213, 226),
      rgba(247, 248, 247),
      rgba(247, 248, 247));
  height: 0.5px;
  margin-left: 10px;
  margin-bottom: 1em;
  margin-top: -7px;
}
.form-control:focus {
  box-shadow: none;
}
.login-input {
  background-color: #dddddd;
}
.back-border-none{
  border: none;
  background: none;
}
.profile-button{
  background-color: var(--darkblueColor);
  color: white;
  height: 40px;
  border-radius: 8px;
  width: 100px;
  border: none;
}
.profile-button:hover{
  background-color:#435db6
}
.admin-dashboard{
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  padding: 10px;
  margin-right: 15px;
}
.Category{
  font-weight: 600;
  padding: 15px 0px 0px 12px;
}
.dashboard{
  padding: 0px 25px 25px 25px !important;
}
.student-list{
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.coures-edit-button{
  position: absolute;
  padding: 5px;
  background-color: #ffffff80;
  margin: 4px;
  border-radius: 5px;
}
.coures-edit-button:hover{
  background-color: #ffffff;
}
.community{
  border: 1px solid rgb(180, 180, 180);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.community-height{
  overflow: scroll;
  height: 70vh;
}
.video-js .vjs-play-control,
.video-js .vjs-volume-panel .vjs-volume-level {
  color: rgb(255, 214, 65);
}
.video-js {
  border-radius: 20px;
  margin: 10px;
  height: 180px;
  width: 300px;
}
.video-js:hover{
  height: 190px;
  width: 310px;
}
.vjs-has-started .vjs-control-bar {
  border-radius: 0px 0px 10px 10px;
}
.vjs_video_3-dimensions {
  width: 480px;
  height: 270px;
}
.video-js .vjs-tech {
  border-radius: 12px;
}
.profile-card{
    max-width: 400;
    margin: '0 auto'
}
.profile-avatar{
  width: 100;
  height: 100
}
.profile-editButton{
  position: 'absolute';
  top: 0;
  right: 0
}
.video-screen-background{
  background-color: #0f1014;
  height: 180vh;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #01392d !important;
}
.video-heading{
  margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 30px 0px 0px 22px;
    font-size: 18px;
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.text-overlay p {
  font-size: 1.5rem;
}
.learning-content{
  animation-name: ajay;
  position: relative;
  animation-duration: 2s;
  padding-top: 500px;

}
@keyframes ajay {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 0px;
  }
  100% {
    padding-top: 500px;
  }
}